################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/ObligatorioProgramacion3_Francisco_Luis
/ObligatorioProgramacion3_Francisco_Luis/.vs
