################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/ObligatorioProgramacion3_Francisco_Luis/.vs
/ObligatorioProgramacion3_Francisco_Luis/bin
/ObligatorioProgramacion3_Francisco_Luis/obj/Debug/edmxResourcesToEmbed/Models
