
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualización en Progreso</title>
    <link rel="stylesheet" href="~/Content/site.css">
</head>
<body>
    <div class="container">
        <div class="section">
            <h1>Estamos trabajando en esta nueva actualización para una mejor experiencia de usuario</h1>
            <p>Espero que sepas entender.</p>
        </div>
    </div>
</body>
</html>

